.ghost-tag {
    padding: 8px;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}

.ghost-tag.found {
    border-color: goldenrod;
    color: goldenrod;
}

.ghost-tag.notfound {
    border-color: lightgray;
    color: lightgray;
    opacity: 0.7;
    text-decoration: line-through;
}

.modal {
    width: 90%;
    max-width: 500px;
    position: absolute;
    z-index: 10;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 50%;
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}